

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600");
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #d9534f;
  --orange: #fd7e14;
  --yellow: #f0ad4e;
  --green: #4BBF73;
  --teal: #20c997;
  --cyan: #1F9BCF;
  --white: #fff;
  --gray: #919aa1;
  --gray-dark: #343a40;
  --primary: #1a1a1a;
  --secondary: #fff;
  --success: #4BBF73;
  --info: #1F9BCF;
  --warning: #f0ad4e;
  --danger: #d9534f;
  --light: #fff;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
	box-sizing: border-box;
}

body{
	background-color: #cfd2d6;
  letter-spacing: .25px;
  font-family:"Nunito Sans";
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

nav{
	margin:auto;
}

#addressForm {
  margin: 0;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #919aa1;
  text-align: left;
  background-color: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: inherit;
}

.form-group {
  word-spacing: .25px;
}

.container page-header {
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.input-group-text {
  width:230px;
}

#welcomeTitle {
  letter-spacing: .5px;
}

/*Kate Styling*/
#carouselExampleSlidesOnly{
  padding-bottom:30px;
  border-top:solid lightgrey 5px;
}

.navbar-brand{
  margin-left:100px;
}

.input-group-prepend{
  background-color: #eceeef;
  }
  
#courseSelect {
  padding-top: 0px
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 0px
  border-top: 0px;

}

body{
  background-color: white;
}

h3{
  padding-bottom: 30px;
}

#iSubmitBtn{
  margin:30px;
}

#addressForm{
  margin:auto;
}

h1{
  padding:100px;
  margin:30px 0px 30px 0px;
  background-image:url("../images/tweed.png");
  color:white;
}

iframe{
  padding-left:100px;
}

#footer{
  margin:-10px 0px -10px 30px;
  color:darkgrey;
  text-align: center;
}

#user-recipe{
  color:white;
  padding:30px;
  width:350px;
  background-image: url("../images/tweed.png");
  margin-top:30px;
}

#recipeSuggestions{
  float:right;
}


#modal-authenticate {
  max-width: 800px!important
}

.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}


div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}
#wheresParty {
  padding-top: 10px;
  padding-bottom: 10px;
 
}
#whensParty {
  padding-top: 10px;
  padding-bottom: 10px;

}
